button {
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #7a8a99;
  background: linear-gradient(to bottom, #ffffff, #d4d0c8);
  padding: 5px 15px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:active {
  background: linear-gradient(to top, #ffffff, #d4d0c8);
}
